<h1>My tasks</h1>

<%= link_to "Create a new task", "/tasks/new" %>

<ul>
    <% @tasks.each do |task| %>
        <li><%= link_to "#{task.title}", task_path(task) %>
        <% if task.completed == false %>
             - Not completed
        <% else %>
            - Completed
        <% end %>
        <%= link_to "ðŸ—‘ï¸", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
        </li>
    <% end %>
</ul>