<h1><%= @task.title %></h1>
<h3><%= @task.details %></h3>
<% if @task.completed == false %>
    This task is not completed yet
<% else %>
    This task is already completed
<% end %>
<br><br>
<%= link_to "Edit the task", "/tasks/#{@task.id}/edit" %>
<br><br>
<%= link_to "Return to the tasks list", "./" %>
